<app-list-wrapper
  [isLoading]="isLoading"
  [title]="'Species'"
  [path]="''"
  [hasPrevious]="hasPrevious"
  [hasNext]="hasNext"
  (callNextPage)="loadNextPage()"
  (callPreviousPage)="loadPreviousPage()"
  (searchValue)="searchFilter($event)"
  (searchCleared)="clearSearchFilter()"
>
  <mat-card *ngFor="let specie of species" class="col m-2 specie-card">
    <mat-card-title>{{ specie?.name }}</mat-card-title>
    <mat-card-content>
      <ul class="attributes-list">
        <li>
          <span class="attribute">Classification</span>
          {{ specie?.classification }}
        </li>
        <li>
          <span class="attribute">Designation</span>: {{ specie?.designation }}
        </li>
        <li><span class="attribute">Language</span>: {{ specie?.language }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="[specie?.urlParam]" mat-button>
        Details <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</app-list-wrapper>
