<app-detail-wrapper
  [title]="film?.title"
  [isLoading]="isLoading"
  [path]="'films'"
>
  <div class="row" detail-main-content>
    <div class="col-sm mr-0">
      <h3>Film information</h3>
      <div>Director: {{ film?.director }}</div>
      <div>Producer(s): {{ film?.producer }}</div>
      <div>Release Date: {{ film?.release_date | date }}</div>
    </div>
    <div class="col-lg">
      <h3>Opening crawl</h3>
      {{ film?.opening_crawl }}
    </div>
  </div>
  <div class="row" detail-related-content>
    <div class="col">
      <app-characters-simple-list
        *ngIf="film?.charactersUrlParam"
        [characterUrlParams]="film.charactersUrlParam"
      ></app-characters-simple-list>
    </div>
    <div class="col">
      <app-species-simple-list
        *ngIf="film?.speciesUrlParam"
        [specieUrlParams]="film.speciesUrlParam"
      ></app-species-simple-list>
    </div>
    <div class="col">
      <app-planets-simple-list
        *ngIf="film?.planetsUrlParam"
        [planetUrlParams]="film.planetsUrlParam"
      ></app-planets-simple-list>
    </div>
  </div>
</app-detail-wrapper>
