<app-list-wrapper
  [isLoading]="isLoading"
  [title]="'Characters'"
  [path]="''"
  [hasPrevious]="hasPrevious"
  [hasNext]="hasNext"
  (callNextPage)="loadNextPage()"
  (callPreviousPage)="loadPreviousPage()"
  (searchValue)="searchFilter($event)"
  (searchCleared)="clearSearchFilter()"
>
  <mat-card *ngFor="let character of data" class="col m-2 character-card">
    <mat-card-title>{{ character?.name }}</mat-card-title>
    <mat-card-content>
      <ul class="attributes-list">
        <li><span class="attribute">Height</span> {{ character?.height }}</li>
        <li><span class="attribute">Gender</span>: {{ character?.gender }}</li>
        <li>
          <span class="attribute">Birth year</span>: {{ character?.birth_year }}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="[character?.urlParam]" mat-button>
        Details <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</app-list-wrapper>
