<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<app-go-back [path]="path"></app-go-back>
<div class="row">
  <h2 class="col-lg-9">{{ title }}</h2>
  <form [formGroup]="formGroup" class="col" (submit)="formSubmit()">
    <mat-form-field
      ><mat-label>Search</mat-label
      ><input matInput type="text" formControlName="search"
    /></mat-form-field>
    <button
      type="button"
      matTooltip="Clear search"
      (click)="clearSearch()"
      *ngIf="formGroup.controls.search.dirty"
      mat-button
    >
      <mat-icon>clear</mat-icon>
    </button>
  </form>
</div>
<div class="row">
  <mat-card
    *ngIf="hasPrevious"
    (click)="emitCallPreviousPage()"
    class="col m-2 next-card"
    ><mat-icon>navigate_before</mat-icon></mat-card
  >
  <ng-content></ng-content>
  <mat-card
    *ngIf="hasNext"
    (click)="emitCallNextPage()"
    class="col m-2 next-card"
    ><mat-icon>navigate_next</mat-icon></mat-card
  >
</div>
