<app-list-wrapper
  [isLoading]="isLoading"
  [title]="'Planets'"
  [path]="''"
  [hasPrevious]="hasPrevious"
  [hasNext]="hasNext"
  (callNextPage)="loadNextPage()"
  (callPreviousPage)="loadPreviousPage()"
>
  <mat-card *ngFor="let planet of planets" class="col m-2 planet-card">
    <mat-card-title>{{ planet.name }}</mat-card-title>
    <mat-card-content>
      <ul class="attributes-list">
        <li>
          <span class="attribute">Population</span>: {{ planet.population }}
        </li>
        <li><span class="attribute">Gravity</span>: {{ planet.gravity }}</li>
        <li><span class="attribute">Diameter</span>: {{ planet.diameter }}</li>
        <li><span class="attribute">Terrain</span>: {{ planet.terrain }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="[planet.urlParam]" mat-button>
        Details <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</app-list-wrapper>
